{% extends 'Authentication/Layouts/base.html' %}

{% block content %}
<div class="container-fluid bg-light bg-gradient">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col-md-6 mt-2 bg-light bg-gradient">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mt-2">
                        <label for="tipo_documento">Tipo de Documento</label>
                        <select class="form-select" name="tipo_documento" id="tipo_documento" required>
                            <option disabled selected value="">Seleccione su tipo de documento</option>
                            <option value="CC">CC</option>
                            <option value="TI">TI</option>
                            <option value="CE">CE</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="documento">Documento de Identidad</label>
                        <input type="number" class="form-control" id="documento" name="documento" placeholder="Documento de Identidad" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Digite solo sus Nombres" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Digite solo sus Apellidos" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="tipo_cuenta">Tipo de Cuenta</label>
                        <select class="form-select" name="tipo_cuenta" id="tipo_cuenta" required>
                            <option disabled selected value="">Seleccione su tipo de cuenta</option>
                            <option value="Ahorros">Cuenta de Ahorros</option>
                            <option value="Corriente">Cuenta Corriente</option>
                            <option value="Nómina">Cuenta de Nómina</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="saldo">Saldo</label>
                        <input type="number" step="any" class="form-control" id="saldo" name="saldo" placeholder="Ingrese el Saldo que Tendrá la Cuenta" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password_confirmation">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirmar Contraseña" required>
                    </div>
                    <button type="submit" class="btn mt-4 btn-primary">Registrar</button>
                    <button type="submit" onclick="location.href='{% url 'login' %}'" class="btn mt-4 btn-secondary">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
